:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body, body > * {
  font-size: 1.5rem;
}

ul, li {
  list-style-type: none;
}

.results-container {
  max-width: 500px;
  margin: 0 auto;
}

.result-individual {
  border: 2px solid lightslategray;
  border-bottom: none;
}

.result-individual:last-of-type {
  border-bottom: 2px solid lightslategray;
  margin-bottom: 4rem;
}

@media all and (min-width: 769px) {
  body, body > * {
    font-size: 1.25rem;
  }
}